@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Fraunces';
        src: url('/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf');
        font-weight: 600;
    }
    @font-face {
        font-family: 'Manrope';
        src: url('/assets/fonts/manrope/static/Manrope-Regular.ttf');
        font-weight: 400;
    }

    body {
        @apply font-sans;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif font-semibold;
    }
    h2 {
        font-size: 5rem;
        line-height: 5rem;
    }
    h4 {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    h6 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    p {
        @apply font-sans;
        font-size: 1.125rem;
        line-height: 2rem;
    }
}

@layer components {
    .btn {
        @apply font-bold w-max;
    }

    .btn-primary {
        @apply px-6 py-4 bg-secondary text-primary border-2 border-secondary;
    }
    .btn-primary:hover {
        @apply bg-transparent text-secondary;
    }

    .btn-secondary {
        @apply underline underline-offset-8 decoration-4 decoration-secondary text-inherit;
    }
    .btn-secondary:hover {
        @apply text-secondary;
    }
}
